body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;   	/* Minimum width of layout - remove line if not required */
	height:100%;
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

#wrapper {
	min-height:100%;
	position:relative;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	background-color: #fff;
	color: black;
	border-bottom: 1px solid #000;
}

#header p,
#header h1,
#header h2,
#header h3 {
	font-family: 'Titillium Web', sans-serif;
	padding: .5em 0 0 20px;
	margin:0;
}

#header h3 {
	margin-top: -1em;
	padding-bottom: .75em;
}

#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#555;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#666;
	color: #fff;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#fff;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
	width:71%;			/* left column content width (left column width minus left and right padding) */
	left:27%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:21%;			/* right column content width (right column width minus left and right padding) */
	left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}

.col2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.col2 ul li a {
	border-bottom: 1px solid black;
	text-decoration: none;
	text-align: center;
	font-size: 125%;
	color: #111;
	padding: 11px 11px;
	display: block;
}

.col2 ul li a:hover, .col2 ul li .current {
	background-color: #666;
	color: #ddd;
}


/* Footer styles */
#footer {
	clear:both; 
	float:left;
	width:100%;
	border-top:1px solid #000;
	background-color: #ddd;
}
#footer p {
	font-size: 80%;
	padding:10px;
	margin:0;
}
